/* entire webpage */
.page {
    outline: 2px solid hotpink;
    display: grid;
    grid-template-columns: 55% 45%;
    height: 100vh; 
}

/* map of left side */
.map {
    position: sticky;
    top: 0;
    height: 100vh;
    border-right: 1px solid #e5e7eb;
}

.map svg {
    width: 100%;
    height: 100%;
    display: block;
}

/* text on the right */
.context {
    height : 100vh;
    overflow: auto;
    padding: 2rem;
}